<%= form_with model: [ @animal, @sighting ] do |form| %>
  <p>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </p>
  <p>
    <%= form.label :longitude %><br>
    <%= form.text_area :longitude %>
  </p>
  <p>
    <%= form.label :latitude %><br>
    <%= form.text_area :latitude %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
